---
const today = new Date();
import GithubImg from '../assets/github-logo.svg'
import HFImg from '../assets/hf-logo.svg'
---

<footer>
  <span class="footer-copy">
    &copy; {today.getFullYear()} Bitgamma
  </span>
	<div class="social-links">
		<a href="https://github.com/bitgamma" target="_blank"><GithubImg width="18px" height="18px"></a>
		<a href="https://huggingface.co/mikkoph" target="_blank"><HFImg width="18px" height="18px"></a>
	</div>
</footer>
<style>
	footer {
    border-top: dashed var(--gray) 1px;
		padding: 1em;
    margin: 2em 4em 2em auto;
		color: var(--white);
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 5px;
    box-sizing: border-box;
	}

  .footer-copy {
    font-size: .7em;
    font-weight: 300;
    width: max-content;
  }
	.social-links {
		display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    align-items: center;
    padding: 0 5px;
    width: max-content;
    box-sizing: border-box;
	}
	.social-links a {
		padding: 0;
	}

  @media (max-width: 720px) {
    footer {
      margin-right: 1em;
    }
  }
</style>
