---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from '../assets/mb_ai_blog.svg';
import MenuImage from '../assets/menu.svg'
import CloseMenuImage from '../assets/cancel.svg'
---

<header>
  <nav class="blog-navigation">
    <h2 class="logo-container">
      <a href={import.meta.env.BASE_URL} class="logo-link">
        <Logo />
        <span class="logo-text">{SITE_TITLE}</span>
      </a>
    </h2>
    <div class="nav-menu hide-menu-links">
      <ul id="internal-links" class="internal-links hide-menu-links">
        <li class="internal-link"><HeaderLink href={import.meta.env.BASE_URL + "blog/"}>Blog Posts</HeaderLink></li>
        <li class="internal-link"><HeaderLink href={import.meta.env.BASE_URL + "about/"}>About</HeaderLink></li>
      </ul>
      <div class="header-menu-link-container">
        <a href="#" id="header-menu" class="header-menu-link">
          <MenuImage id="menu-open" width="20px" height="20px"></MenuImage>
          <CloseMenuImage id="menu-close" width="12px" height="12px" class="hide-menu-links"}></CloseMenuImage>
        </a>
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: .4em 4em;
    box-sizing: border-box;
  }

  .blog-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo-container {
    flex-grow: 40%;
  }

  .logo-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5em 0;
  }

  .logo-text {
    font-size: x-large;
    font-family: "Arvo", sans-serif;
    font-weight: 400;
    color: var(--white);
  }

  .nav-menu {
    flex-grow: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    height: 80px;
  }
  .header-menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
  }

  .internal-links {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: end;
    gap: 5px;
    margin: 0;
  }

   .internal-link {
    background-color: var(--black);
    padding: 3px 8px;
    width: calc-size(fit-content, size + 50px);
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .8em;
    text-transform: uppercase;
  }

  .hide-menu-links {
    display: none;
  }

  @media (max-width: 720px) {
    header {
      padding: 0 1em;
    }
    .blog-navigation {
      width: 100%;
      align-items: center;
    }
    .logo-text {
    font-size: large;
    }

    .nav-menu {
      align-items: center;
      height: min-content;
      margin-top: -10px;
      padding: 0;
      position: relative;
    }
    .internal-links {
      position: absolute;
      right: 0;
      top: 2em;
    }
  }
</style>
<script>
  const menu = document.getElementById("header-menu") as HTMLAnchorElement;
  const internalLinks = document.getElementById("internal-links") as HTMLDivElement;
  const menuClose = document.getElementById("menu-close");
  const menuOpen = document.getElementById("menu-open");


  menu.addEventListener("click", () => {
    internalLinks.classList.contains('hide-menu-links') ? internalLinks.classList.remove('hide-menu-links') : internalLinks.classList.add('hide-menu-links');

    menuClose?.classList.contains('hide-menu-links') ? menuClose?.classList.remove('hide-menu-links') : menuClose?.classList.add('hide-menu-links');
    menuOpen?.classList.contains('hide-menu-links') ? menuOpen?.classList.remove('hide-menu-links') : menuOpen?.classList.add('hide-menu-links');
  });
</script>
